<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="配置文件1" value="..\..\XmlOperator\XMLFile1.xml"/>
    <add key="配置文件2" value="..\..\XmlOperator\XMLFile2.xml"/>
    <add key="日志文件" value="DeleteLog.txt"/>
    <add key="时间间隔" value="3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
